<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HitList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1289F2261CDCA4C8009AEA54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1289F23D1CDCA4C8009AEA54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1289F2481CDCA4C8009AEA54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
